*{
  margin: 0;
  padding: 0;
}
body{
  min-width: 320px;
}
.backgroundimg{
  background-image: url("../img/keyboard.jpg");
  background-size: cover;
  display: block;
  filter: blur(0px);
  -webkit-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  left: 0;
  position: absolute;
  z-index: -2;
}
header{
  background: rgba(47, 37, 29, 0.5);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  position: fixed;
  z-index: 2;
}
 .head-contet{
  text-align: center;
  color: #FFF;
  text-shadow: 0 3px 5px rgb(215, 192, 148);
  z-index: 1;
  position: relative;
  top: 300px;
}
#navbar ul{
  display: flex;
  justify-content: center;
  }
  #navbar ul li{
    list-style-type: none;
    font-size: 30px;
    padding: 10px;
    }
.links{
  display: flex;
  justify-content: flex-end;
  }
ul a{
  text-decoration: none;
  color: white;
  }
.work{
  display: grid;
  grid-template: 1fr 1fr;
  grid-gap: 5px;
  width: 100%;
  height: auto;
  justify-items: center;
  margin-top: 650px;

  }

  .work-header{
    text-align: center;
    margin-top: 50px;
    grid-area: 1/1/2/4;
    margin-bottom: 50px;
    }

.picture{
  width: 100%;
  border:solid 2px rgb(215, 192, 148);
  padding: 20px;
}
.tributo{
  grid-area: 2/1/2/2;
  }
.formulario{
  grid-area: 2/2/3/3;
  }
.landing{
  grid-area: 3/1/4/2;
}
.tech{
  grid-area: 3/2/4/3;
}
#projects a{
  text-decoration: none;
}
.project-title{
  text-align: center;
  padding: 5px;
  margin-bottom: 40px;
  }
