*{
  margin: 0;
  padding: 0;
  }

body{
    background-color: rgb(201, 113, 40);
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Indie Flower';
      min-width: 320px;
      }
  li{
    list-style: none;
  }
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to left, rgb(74, 191, 114), rgb(16, 144, 249) ) ;
  box-shadow: 0px 5px 15px rgba(64, 95, 142, 0.45);
  position: fixed;
  overflow: hidden;
  top: 0;
}
.main{
  padding: 20px;
  margin-top: 110px;
}
header img{
  width: 20%;
  height: auto;
  border-radius: 20%;
  padding: 1em;
  margin-left: 5em;
}

ul{
  width: 50vw;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  }
ul li a{
  font-family: 'Nunito Sans';
  font-size: 200%;
  font-weight: bolder;
  text-decoration: none;
  padding: 15px;
  color: rgb(234, 241, 228);
  }

h1{
  margin-top: 8em;
  text-align: center;
  margin-top: 3em;
  font-variant: small-caps;
}
h2{
  text-align: center;
  font-variant: small-caps;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
form .button{
  background: rgb(12, 65, 222);
  border: none;
  padding: 5px;
  color: white;
  border-radius: 10%;
}
.img1{
  display: block;
   width: 50%;
   margin: auto;
   border-radius: 10%;
}
.img-caption{
    text-align: center;
}
.toy{
  width: 50%;
  height: auto;
  }
  p{
    font-family: 'Nunito Sans'
  }
.Muestras{
  margin: auto;
  padding: 10px;
  width: 80%;
  background-color: rgb(43, 41, 43);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 5em 2fr 2fr;
  grid-template-rows: auto auto 1fr;
  }
#video{
  width: 25%;
  height: auto;
}

.item1{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(119, 240, 59);
  margin-top: 5px;
  }


.item2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(119, 240, 59);
  }
.item3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  grid-area: 1 / 3 / 2 / 4;
  background-color: rgb(119, 240, 59);
  }
.item4{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/1/3/2;
  background-color: rgb(131, 39, 195);

}
.item5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  grid-area: 2/2/3/3;
  background-color: rgb(131, 39, 195);

}
.item6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  grid-area: 2/3/3/4;
  background-color: rgb(131, 39, 195);

}
.item7{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3/1/4/2;
  background-color: rgb(241, 126, 19);
  margin-top: 5px;
}
.item8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  grid-area: 3/2/4/3;
  background-color: rgb(241, 126, 19);
}
.item9{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  grid-area: 3 /3 / 4 / 4;
  background-color: rgb(241, 126, 19);
}
.item10{
  grid-area: 5/2/6/4;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.ico{
  width: 40%;
  height: auto;
  padding: 10px;

}
.pricing{
  width: 80%;
  display: flex;
  flex-flow: row;
  margin: 15px  auto;
  justify-content: center;
}

.col{
  font-family: "Tahoma", sans-serif;
  background: #222;
  color: #FFF;
  padding: 8px;
  box-sizing: border-box;
  width: 25.3%;
  display: flex;
  flex-flow: row wrap;
  }
  .tabla-precios{
    background: rgb(211, 220, 244);
    color: #555;
    list-style-type: none;
    border:1px solid #555;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
    }
    .tabla-precios .headerT{
      background: rgb(119, 240, 59);
      border-radius: 8px 8px 0px 0px;
      text-shadow: 0 4px 4px 5px rgb(2, 1, 2);
      font-weight: bold;
    }
    .tabla-precios .headerX{
      background: rgb(131, 39, 195);
      box-shadow: 0 2px  rgba(11, 11, 11, 0.74);
      border-radius: 8px 8px 0px 0px;
      text-shadow: 0 2px 2px rgb(2, 2, 2);
      font-weight: bold;
    }
    .headerZ{
      background: rgb(241, 126, 19);
      border-radius: 8px 8px 0px 0px;
      text-shadow: 0 4px 4px 5px rgb(6, 6, 6);
      font-weight: bold;
    }
    .tabla-precios:hover, .tabla-precios.best{
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.93);
    }
    .tabla-precios li{
      padding: 20px;
    }

    .tabla-precios .emfasis{
      background-color: rgba(127, 137, 180, 0.45);
      color: #FFF;
      font-size: 20px;
    }
    .button{
      background-color: #333;
      border-radius: 3px;
      padding: 10px 15px;
      font-size: 15px;
      text-decoration: none;
    }


footer{
  background-color: rgb(20, 20, 15);
  display: flex;
  justify-content: space-between;
}
footer .copy{
  background-color: rgb(140, 19, 14);
  text-align: left;
  text-shadow: 2px 2px 2px rgb(186, 152, 74);
  padding: 15px;
  font-size: 25px;
}
@media screen and (min-width: 850px) and (max-width: 1000px){
  #header{
    flex-flow: row wrap;
    height: auto;
    justify-content: flex-end;
  }
  ul li a{
    font-size: 100%;
    padding: 5px;
  }
  .Muestras{
    display: grid;
    grid-gap: 2px;
    grid-template: 3em 1fr 1fr;
    font-size: 15px;
}

/*item10{
  display: flex;
  grid-area: 5 / 1 / 6 / 4;
  width: 300px;
  padding: 2px;
}*/
  header figure{
    flex-flow: nowrap;
    align-items: flex-end;
    height: auto;
    border-radius: 20%;
  }
  .main{
    margin: 190px;
    display: flex;
    flex-flow: column;
    font-size: 15px;
  }

  h1{
    font-size: 20px;
  }
  ul li a{
    font-size: 20px;
  }
}
@media screen and (min-width: 250px) and (max-width: 848px){
  #header{
    flex-flow: column wrap;
    height: auto;
    justify-content: flex-end;
    }
    .Muestras{
      display: flex;
      flex-direction: column;
      width: 2fr;
  }
  ul li{
    display: flex;
    flex-direction: column;
  }
  ul li a{
    font-size: 100%;
    padding: 5px;
  }
  .pricing{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
  }
  .ico{
    display: none;
  }
  .col{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .item10{
    width: 300px;
    padding: 5px;
    width: 100%;
  }
}
