body{
  font-family: "Pacifico" 'Josefin Sans'
  font-weight: lighter;
}
#main{
  margin:25px auto;
  padding: 30px;
  background-color: rgba(235, 238, 242, 0.74);
  border-radius: 10px;
  background: rgb(187, 192, 212);
}
h1{
  font-size: 250%;
  font-weight: 100;
}
.frase{
  margin-top: -15px;
  font-family: 'Pacifico';
  font-size: 20px;
}

.img-div{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}
#img-div{
  display: flex;
  flex-flow:wrap column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
img{
  max-width: 100%;

}
.img-caption{
  text-align: center;
}
.text{
  width: 100%;
  font-family:'Josefin Sans', sans-serif;
  font-stretch: expanded;
  line-height: 40px;
  font-size: 20px;
  height: auto;
  margin: auto;
}

.subtitulo{
  width:100%;
  height: auto;
  font-size: 1em;
  text-align: center;
  font-family: cursive;
  text-shadow: 2 rgb(49, 49, 52);
}
main .subtitulo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.obras{
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  }
  hr{
    height: 1px;
    width: 80%;
    }

.cierto{
  box-sizing: border-box;
  width: 470px;
  margin: auto;
  padding: auto;
  height: auto;
  background: rgba(26, 56, 125, 0.63);
  border: 10px solid rgba(26, 56, 125, 0.83) ;
  text-align: center;
  }

ul li{
  font-style: italic;

}
.footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
  padding: 5;
  font-family: Arial;
  font-size: 80%;
}
.footer  ul{
  display: flex;
  justify-content: space-around;
  }
  .footer li{
    list-style: none;
  }
  .footer li a{
    margin: 5px;
    text-decoration: none;
  }

@media only screen and (max-width: 700px)
{
  .obras{
   margin-left: 10px;
  }
  .cierto{
    width: auto;
    display: flex;
    flex-flow: wrap;
    text-align: left;
  }
}
