*{
  margin: 0px;
  padding: 0px;
}
body{
  background: rgb(219, 226, 220);
}
.aside{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 250px;
  height: 100%;
  border-right: solid;
  border-color: rgb(9, 9, 9);
  overflow-x: hidden;
  overflow-y: auto;
}
h1{
  font-size: 150%;
  padding:5px 0px 20px 45px;

}
nav li:hover{
  background:rgb(181, 212, 237);
  text-shadow: 2px 2px 2px rgb(105, 242, 144);
  border-bottom: 0px;
}
section{
  margin: 10px;
}
hr{
  width: 80%;
  text-align: center;
  height: 3px;
  margin: auto;
  border-color: rgb(22, 94, 235);
}
nav ul{
  width: 100%;
  padding-left: 45px;
  list-style: none;
}
nav li{
  border: solid 1px rgb(38, 36, 38);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 5px;
}
nav ul li{

  padding: 10px;
}
.aside li a{
    text-decoration: none;
    color: rgb(23, 23, 21);
  }
main{
  margin-left: 280px;

}
header{
  font-size: 25px;
  font-weight: bolder;
  font-style: oblique;
  font-variant: small-caps;
  margin: 15px;
}
ul li{
  list-style: none;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(77, 28, 47);
  width: 80%;
  color: rgb(215, 227, 240);
}
.elemento{
  width: 5em;
  background-color: rgb(116, 183, 201);
  margin: 5px;
  padding: 5px;
  color: black;
}
ol{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
 }
ol li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  background: #6495ed;
  opacity: .5;
}
#flex-dir{
  opacity: 1;
}
ol li a:hover{
  opacity: 1;
  box-shadow: 2px 2px 4px rgb(181, 212, 237);
}
.container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(18, 56, 80);
  width: 60%;
  color: rgb(247, 247, 231);
}
p{
  margin: 8px;
}
.container3{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  background-color: rgb(18, 56, 80);
  width: 60%;
  color: rgb(247, 247, 231);
}
.container4{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  background-color: rgb(18, 56, 80);
  width: 60%;
  color: rgb(247, 247, 231);
}

.container5{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(38, 22, 33);
  color: rgb(163, 198, 172);
}
.container5 .elemento{
  width: 8em;
  height: auto;
  background-color: rgb(141, 193, 119);
}
.container6{
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: row wrap;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  justify-content: center;

}
.container7{
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: row wrap;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  justify-content: flex-end;
}
.container8{
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: row-reverse wrap;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  justify-content: flex-end;
}
.container8a{
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: row wrap;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  justify-content: space-around;
}
.container8b{
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: row wrap;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  justify-content: space-between;
}
.container9{
  display: flex;
  width: 90%;
  height: auto;
  flex-flow: column wrap;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  justify-content: center;
  align-items: flex-end;

}
.container10{
  display: flex;
  flex-flow:wrap row;
  justify-content: space-around;
  width: 90%;
  height: 200px;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  align-items: stretch;
}
.container11{
  display: flex;
  flex-flow:wrap row;
  justify-content: space-around;
  width: 90%;
  height: 200px;
  background-color: rgb(82, 75, 21);
  color: rgb(217, 233, 225);
  align-items: baseline;
}
.elementoa{
  font-size: 50px;
  background-color: rgb(92, 128, 115);
}
.elementoc{
  font-size: 30px;
  background-color: rgb(11, 221, 194);
  }
.elementoe{
  font-size: 100px;
  background-color: rgb(109, 133, 170);
}
.elementof{
  font-size: 150px;
  background-color: rgb(201, 2, 90);
}
.container12{
  height: auto;
  box-sizing: border-box;
  border: solid 3px rgb(29, 35, 180);
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  width:80%;
}
.childa{
  width: 100px;
  background-color: rgb(168, 184, 72);
  margin: 5px;
  text-align: center;
  font-size: 95%;
}
.container13{
  box-sizing:border-box;
  border: solid 2px;
  background-color: rgb(89, 16, 29);
  color: white;
  width: 80%;
  height: 400px;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
}
.childb{
  width: 100px;
  background: rgb(106, 167, 238);
  margin: 10px;
  font-size: 20px;
}
.container14{
  box-sizing: border-box;
  width: 80%;
  height: 400px;
  background: rgb(191, 73, 23);
  display: flex;
  align-content: stretch;
}
.hijox{
  width: 100px;
  background-color: rgb(213, 195, 194);
  margin: 10px;
}
.container15{
  box-sizing: border-box;
  width: 80%;
  height: 400px;
  background: rgb(23, 146, 191);
  display: flex;
  flex-flow: wrap;
  align-content: center;
}
.container16{
  box-sizing: border-box;
  width: 80%;
  height: 400px;
  background: rgb(23, 75, 191);
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}
.container17{
  box-sizing: border-box;
  width: 80%;
  height: 400px;
  background: rgb(92, 23, 191);
  display: flex;
  flex-flow: wrap;
  align-content: flex-end;
}
.container18{
  box-sizing: border-box;
  width: 80%;
  height: 400px;
  background: rgba(92, 23, 191, 0.62);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.hijocentrado{
  widht: 120px;
  height: 120px;
  text-align: center;
}
.container18{
  display: flex;
  background: rgb(230, 239, 241);
}
.hij0{
  background: rgb(8, 110, 136);
  width: 100px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  color: rgb(194, 174, 244);
}
